<?xml version="1.0" encoding="utf-8"?>
<!-- 微信域名实时检测 api -->
<configuration>
  <add key="wxCheckApi" value="http://wx.rrbay.com/pro/wxUrlCheck.ashx" />
  <add key="wxCheckApiKey" value="341e0b5df120394ec99e517b67774399" />
  <!-- 微信域名检测http协议 -->
  <add key="wxCheckService"  value="http://wx.test.com/" />
</configuration>