/*浏览器样式初始化*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  font: 14px/1.4 'Microsoft YaHei', STHeiti, Helvetica, Arial, sans-serif;
  color: #373d41;
  background-color: #f5f5f5;
  -webkit-text-size-adjust: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
dl,
dd {
  margin: 0;
  font-weight: normal;
}
img {
  width: 100%;
  border: none;
}
a {
  color: #373d41;
  text-decoration: none;
}
ul {
  padding: 0;
  list-style: none;
}
input,
button {
  outline: none;
}
input {
  font-size: 14px;
  border: 1px solid #d7d7d7;
  color: #aeaeae;
  font-family: "Microsoft Yahei";
}
/*公用和hack样式*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
  /*IE/7/6*/
}
.mauto {
  margin: 0 auto;
}
.mt101 {
  margin-top: 60px;
}
.red {
  color: #ff3900;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}
.float-sponsor {
  position: fixed;
  top: 50%;
  z-index: 50;
  width: 100px;
  height: 200px;
  background-color: #ccc;
}
.left-sponsor {
  left: 50px;
}
.right-sponsor {
  right: 50px;
}
.float-sponsor .close {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 16px;
  height: 16px;
  color: #fff;
}
.left-sponsor .close {
  left: 0;
}
.right-sponsor .close {
  right: 0;
}
/*页面头部和尾部*/
.top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.header {
  border-bottom: 1px solid #505659;
  font-family: '宋体';
  color: #fff;
  background-color: #22252a;
}
.header .logo {
  margin-right: 30px;
  padding-top: 5px;
}

.header .nav a{
  color: #fff; display: block;
}

.header .nav li {
  padding: 0 18px;
}
.header .nav .nav-link {
  color: #fff;
}

.header .nav li.active,
.header .nav li:hover {
  background-image: url('../images/nav_bg.jpg');
  background-repeat: repeat-x;
  background-position: left bottom;
}
.header .nav-l {
  float: left;
}
.header .nav-r {
  float: right;
}
.header li {
  float: left;
}
.header1 {
  border-bottom: 1px solid #d7d7d7;
  background-color: #fff;
  background-image: url('../images/nav-bg1.png');
  background-repeat: repeat-x;
  background-position: left top;
}
.header1 .logo {
  padding-top: 16px;
}
.header1 .nav-title {
  margin: 0 20px;
  font-size: 20px;
  color: #000;
}
.header1 .login {
  border-left: 1px solid #d7d7d7;
}
.header1 li {
  float: left;
  height: 20px;
  line-height: 20px;
  margin-top: 40px;
  padding: 0 10px;
}
.header1 .promptly {
  color: #28d0e9;
}
.footer {
  padding: 1em;
  font-size: 14px;
  text-align: center;
  color: #999;
  background-color: #22252a;
}

/*新加*/
/*首页*/
.bannerbox {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.bannerbox .banner {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1920px;
  height: 200px;
  margin-left: -960px;
}
.bannerbox .banner2 {
  display: none;
  width: 100%;
}
.search {
  margin-top: 23px;
  padding: 28px 0 30px;
  text-align: center;
  background-color: #fff;
}
.search .search-form {
  position: relative;
}
.search .search-form .search-type-wrap {
  width: 410px;
  height: 205px;
  margin: 0 auto 20px;
  padding: 35px 0;
  border: 1px dashed #f00;
  border-top: none;
  border-bottom-left-radius: 205px;
  border-bottom-right-radius: 205px;
}
.search .search-input-wrap {
  text-align: center;
}
.search .search-input {
  width: 759px;
  height: 47px;
  border: 1px solid #d7d7d7;
  text-align: center;
  border-radius: 150px;
  outline: none;
}
.search .radio {
  text-align: center;
}
.search .radio span {
  margin-left: 25px;
  margin-right: 25px;
}
.search .search-test {
  margin-top: 33px;
  text-align: center;
}
.search .btn-check {
  width: 260px;
  height: 45px;
  font-size: 18px;
  color: #fff;
  border: 1px solid #d7d7d7;
  background-color: #28d0e9;
  border-radius: 25px;
}
.search .tips {
  margin: 0 auto;
  font-size: 18px;
  color: #f60;
}
.search .custom {
  position: fixed;
  top: 60%;
  right: 10%;
  z-index: 10;
  width: 60px;
}
.usage {
  padding: 20px 0 10px;
}
.usage .box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
  border: 1px solid #dbdbdd;
  background-color: #fff;
}
.usage .box:hover {
  border-color: #28d0e9;
}
.usage .box .title {
  float: left;
  width: 190px;
  height: 140px;
  padding-top: 30px;
  text-align: center;
  background-color: #ebebec;
}
.usage .box .title img {
  width: 60px;
}
.usage .box .desc {
  position: relative;
  float: right;
  width: 808px;
  height: 140px;
  padding-left: 20px;
  padding-right: 20px;
}
.usage .box .desc .subwrap {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
}
.usage .box .desc .content {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20px;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay .dialog {
  position: absolute;
  top: 50%;
  left: 50%;
}
.overlay .close {
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #fff;
}
.overlay .content {
  width: 324px;
  height: 222px;
  margin: 0 auto;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
}
.overlay .content img {
  width: 50%;
}
/*注册，登录，邮箱验证*/
.register {
  width: 1000px;
  margin: 120px auto 50px;
  border: 1px solid #d7d7d7;
  background-color: #fff;
}
.register .form {
  margin: 56px auto 110px;
  padding-left: 170px;
}
.register .form dl {
  height: 42px;
  margin-bottom: 10px;
  line-height: 42px;
}
.register .form dt,
.register .form dd {
  float: left;
}
.register .form dt {
  width: 150px;
  text-align: right;
  margin-right: 24px;
}
.register .form input {
  width: 312px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #d7d7d7;
}
.register .form .code {
  width: 214px;
  margin-right: 10px;
}
.register .form .codeimg {
  display: block;
  width: 86px;
  height: 40px;
  border: 1px solid #d7d7d7;
}
.register .form .btn-wrap dd {
  width: 312px;
  text-align: center;
}
.register .form .next {
  width: 263px;
  height: 42px;
  margin: 0 auto;
  border: 1px solid #1ea1b5;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #28d0e9;
  border-radius: 100px;
}
/*功能陆续开放中*/
.fullscreen {
  margin-top: 225px;
  margin-bottom: 230px;
  font-size: 50px;
  text-align: center;
}
/*近期收录页面*/
.container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.record {
  width: 1000px;
  padding: 33px;
  background-color: #fff;
  border-radius: 1px;
}
.latest-record {
  margin: 130px auto 30px;
}
.record h2 {
  padding-left: 24px;
  border-left: 4px solid #28d0e9;
  font-size: 20px;
  line-height: 26px;
}
.record .record-table {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #d7d7d7;
  border-bottom: none;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  color: #666;
}
.record .record-table li {
  border-bottom: 1px solid #d7d7d7;
}
.record .record-table .th {
  font-size: 20px;
  line-height: 53px;
  color: #090723;
  background-color: #f5f5f5;
}
.record .record-table p {
  float: left;
  width: 33%;
}
.record .record-table .left {
  padding-left: 28px;
  text-align: left;
}
.record .record-table .middle {
  width: 34%;
  text-align: center;
}
.record .record-table .right {
  padding-right: 28px;
  text-align: right;
}
.record .pagination span {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #d7d7d7;
  /*line-height: 2em;*/
}
.record .pagination .cur {
  color: #fff;
  background-color: #28d0e9;
}
/*检测详情页面*/
.section {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #00c1de;
  font-size: 16px;
  background-color: #fff;
}
.check-link {
  -webkit-box-shadow: 0 0 10px 1px #00c1de;
  box-shadow: 0 0 10px 1px #00c1de;
}
.check-link .domain {
  font-size: 28px;
  line-height: 93px;
  text-align: center;
  color: #fff;
  background-color: #00c1de;
}
.check-link p a {
  color: #1393a7;
}
.check-link .wx,
.check-link .x5 {
  float: left;
  width: 50%;
  text-align: center;
}
.check-link img {
  width: 100px;
  margin: 30px auto;
}
.check-link .wx {
  border-right: 1px solid #d7d7d7;
}
.check-link .wx p {
  margin-bottom: 47px;
  font-size: 16px;
  color: #090723;
}
.qq-record,
.wx-record {
  margin: 30px auto 0;
}
.qq-record .record-table .wx-record .record-table {
  text-align: center;
}
.qq-record .record-table p,
.wx-record .record-table p {
  float: left;
  width: 50%;
}
.qq-record .record-table .showmore,
.wx-record .record-table .showmore {
  font-size: 16px;
  color: #1393a7;
}
/*微信安全检测*/
.test {
  width: 1000px;
  margin: 0 auto;
  padding: 33px;
  background-color: #fff;
  border-radius: 1px;
}
.test h2 {
  padding-left: 24px;
  border-left: 4px solid #28d0e9;
  font-size: 20px;
  line-height: 26px;
}
.test .title {
  position: relative;
  text-align: center;
}
.test .title h2 {
  float: left;
}
.test .title span {
  font-size: 18px;
}
.test .title span a {
  color: #ff3900;
}
.test .write-address {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  margin: 30px auto 20px;
  padding: 15px;
}
.test .test-btn {
  text-align: center;
  margin-bottom: 30px;
}
.test .test-btn button {
  width: 263px;
  border: #1ea1b5;
  font-size: 18px;
  line-height: 44px;
  color: #fff;
  background-color: #28d0e9;
  border-radius: 100px;
}
.test .list {
  height: 300px;
  overflow-y: scroll;
  margin: 30px auto 40px;
  padding: 15px 0 0 15px;
  border: 1px solid #d7d7d7;
  line-height: 1.6;
  color: #666;
}
.test .list .error a {
  color: #ff3900;
}
.test .link {
  margin: 30px auto;
  padding-left: 30px;
}
.test .link a {
  display: inline-block;
  padding: 0 20px;
  margin-bottom: 20px;
  color: #447bc4;
}
.navbar {
  display: none;
}
/* 手机端样式 */
@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
  .top {
    height: 50px;
    line-height: 50px;
  }
  .header .logo {
    padding-left: 5px;
    padding-top: 5px;
  }
  .header .nav {
    display: none;
  }
  .header .navbar {
    display: block;
    position: relative;
    height: 50px;
    padding: 10px;
    padding-top: calc((50px - 20px) / 2);
  }
  .header .navbar .icon-bar {
    display: block;
    width: 30px;
    height: 4px;
    margin: auto;
    border-radius: 1px;
    background-color: #fff;
  }
  .header .navbar .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  .header .navbar .navbar-arrow {
    display: none;
    position: absolute;
    right: 10px;
    top: 50px;
    z-index: 10;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #eee;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .header .navbar .navbar-toggle {
    display: none;
    position: absolute;
    right: 5px;
    top: 58px;
    z-index: 10;
    font-size: 14px;
    color: #22252a;
    background-color: #eee;
    border-radius: 2px;
  }
  .header .navbar .navbar-toggle li {
    float: none;
    width: 100%;
    line-height: 1;
  }
  .header .navbar .navbar-toggle li + li {
    margin-top: .1rem;
  }
  .header .navbar .navbar-toggle li .nav-link {
    display: inline-block;
    width: 160px;
    padding: 10px 5px;
    text-align: center;
  }
  .bannerbox {
    height: auto;
    margin-top: 70px;
  }
  .bannerbox .banner {
    display: none;
    position: static;
    width: 100%;
    height: auto;
  }
  .bannerbox .banner2 {
    display: block;
  }
  .bannerbox .banner2 img {
    display: block;
    width: 100%;
  }
  .search {
    margin-top: 0;
    padding: 1em 0;
  }
  .search .search-form {
    position: relative;
  }
  .search .search-form .search-type-wrap {
    width: 100%;
    height: auto;
    margin: 0 auto 1em;
    padding: 1em 0;
    border: none;
  }
  .search .search-input-wrap {
    padding: 0 10px;
  }
  .search .search-input-wrap .search-input {
    width: 100%;
    height: 40px;
    border: 1px solid #d7d7d7;
    text-align: center;
    border-radius: 150px;
    outline: none;
  }
  .search .radio span {
    margin-left: 10px;
    margin-right: 10px;
  }
  .search .search-test {
    margin-top: 1em;
  }
  .search .btn-check {
    width: 60%;
    height: 40px;
    font-size: 16px;
  }
  .search .tips {
    padding: 0 .5em;
    font-size: 16px;
  }
  .search .custom {
    right: 10px;
    width: 40px;
  }
  .float-sponsor {
    display: none;
  }
  .usage .box .title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25%;
    height: auto;
    padding: 1em;
  }
  .usage .box .title img {
    width: 30px;
  }
  .usage .box .desc {
    width: 75%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: auto;
    padding: 10px 1em;
  }
  .usage .box .desc .subwrap {
    position: static;
  }
  .usage .box .desc .content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .test {
    width: 100%;
    padding: 10px;
  }
  .test h2 {
    padding-left: 10px;
    font-size: 16px;
  }
  .test .title h2 {
    float: none;
    text-align: left;
  }
  .test .title span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
  }
  .test .write-address {
    height: 150px;
    margin: 15px auto 10px;
    padding: 5px;
    font-size: 14px;
  }
  .test .test-btn button {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
  }
  .container {
    padding: 0;
    margin-top: 70px;
  }
  .register {
    width: 100%;
    margin: 100px auto 0;
  }
  .register .form {
    padding-left: 0;
    margin: 50px auto 50px;
  }
  .register .form dl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 10px;
  }
  .register .form dt {
    width: 70px;
    margin-right: 10px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .register .form dd {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .register .form .code-wrap {
    width: 80px;
    height: 40px;
    margin-left: 10px;
    border: 1px solid #d7d7d7;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .register .form .codeimg {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: none;
  }
  .register .form input {
    width: 100%;
  }
  .register .form .code {
    width: 100%;
  }
  .register .form .btn-wrap {
    margin-top: 20px;
  }
  .register .form .btn-wrap dt {
    display: none;
  }
  .register .form .note-wrap {
    text-align: center;
  }
  .register .form .note-wrap dt {
    display: none;
  }
  .register .form .note-wrap .note {
    line-height: 1.6;
  }
  .header1 {
    background-color: #eee;
    background-size: 0;
  }
  .header1.top {
    height: auto;
    line-height: 1;
  }
  .header1 .logo {
    width: 120px;
    padding-left: 10px;
    padding-top: 10px;
  }
  .header1 .nav-title {
    padding-top: 1em;
    font-size: 16px;
  }
  .header1 .nav-right {
    float: none;
    width: 100%;
    line-height: 1;
  }
  .header1 .nav-right ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 10px;
  }
  .header1 li {
    margin-top: 0;
  }
}


/*新加css*/
.yj1 {
    padding: 5px;
    width: 430px;
    height: 35px;
    border: 2px solid #13aeb5;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.page2 {
    /* height: 820px; */
    box-sizing: border-box;
    overflow: hidden;
    background: url(/static/images/bg_00.jpg) repeat;
}