<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <add key="Host" value="www.bbb.com,11.ccc.com,222.ddd.com,www.ddd.com" />
  <add key="exp"  value="xx.yy.zz" />
  <add key="hmdOpenid" value="ocMqvwRjzPH9eseHRc_Z9nlP-DSM,ocMqvwRjzPH9eseHRc_Z79lP-DSM" />
  <add key="state" value="true" />
  <add key="tokens" value="BSBQvBerSsj8X23X,uDSrEHNs9CFGcTSC" />
</configuration>
<!--<add key="Host" value="cn.zlfbam.cn,org.piayqx.cn" />  -->
<!-- exp:异常处理后的备用域名-->
<!--hmdOpenid:黑名单openid -->
<!--state:状态 -->