<?xml version="1.0" encoding="utf-8"?>
<!--  域名屏蔽自动跳转切换  -->
<configuration>
  <!-- 中转接受域名   -->
  <add key="Domain" value="localhost:5623,localhost:5623" />
  <!-- 中转域名是否开启ssl   -->
  <add key="IsSSL" value="false" />
  <!-- 默认跳转链接   -->
  <add key="DefaultUrl" value="https://www.rrbay.com/" />
  <!-- 中转接受的action   -->
  <add key="ActionName" value="GoToHost" />
</configuration>