<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <add key="api" value="http://wx.test.com/" />
  <add key="wxCheckApi" value="http://wx.canyou168.com/pro/wxUrlCheck.ashx" />
  <add key="wxCheckApiKey" value="341e0b5df120394ec99e517b67774399" />
  <add key="wxShowImg" value="image.xxxx.com" />
</configuration>