body{color:#555; padding:0;margin:0;font-family: "Microsoft YaHei","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,Arial,sans-serif;}
.centerhd a.nobg:hover{background: none !important;}
.supercontainer{box-sizing: border-box;margin-top:5%; overflow: hidden; width:100%}
a,a:hover{text-decoration: none;}
i{font-style: normal;}
p,dl,dt,dd{margin:0;}
ul,li{list-style: none;padding:0;margin:0;}
h1,h2,h3,h4{font-weight: normal;margin:0;padding:0;}

.wp{max-width:1200px;margin:0 auto;}
.border{border:1px solid #ddd;}
.clearfix:before,.clearfix:after {display: table;content: " ";}
.clearfix:after {clear: both;}
.fr,.pr{float:right;}
.fl,.pl{float:left;}
.rel{position: relative;}
.f14{font-size:14px;}
.f12{font-size:12px;}
.f16{font-size:16px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
.bold{font-weight: bold}
.borlab{font-size:12px;color:#999; font-style:normal;display:inline-block;padding:0 10px; border-radius:3px;border:1px solid #ddd;}
.borlab-success{border:1px solid #98c56e;color:#98c56e}
.borlab-warning{border:1px solid #ff8f23;color:#ff8f23}
.borlab-danger{border:1px solid #ee5560;color:#ee5560}
a.del-line{text-decoration:line-through}
.yahei{font-family: "微软雅黑", "Arial", HELVETICA}
.toper{position: relative;top:0px; height:72px;background: #18c1d6;border-bottom:1px solid #1b978f; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);}
.toper .logo{margin-top:0px;width:259px;}
.toper .navs{ line-height:73px;font-size:16px;height:58px}
.toper .navs a{color:#fff;margin-left:20px;display: inline-block;padding:0 10px; }
.toper .navs a:hover{ border-bottom:2px solid #fff;text-decoration: none;}
.toper .navs span{display: inline-block;color:#fff;margin-left:20px;display: inline-block;padding:0 10px;cursor: pointer}
.toper .navs .prolayer { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);overflow:hidden;left:0px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;position: absolute;width:180px;background:#fff;}
.toper .navs .prolayer a{color:#00a3c1;display: block;border-bottom:1px solid #eee;line-height:40px;margin:0px;padding:0 15px;}
.toper .navs .prolayer a:hover{background:#f5f5f5;}
.toper .navs span:hover{background:#0da1a8;border-bottom:2px solid #fff;}
.toper .navs span:hover .prolayer{display: block}
.toper .mesg{display: inline-block;float:left;position: relative;padding-top:5px;}
.toper .mesg i{color:#fff;font-size:20px;width:50px;}
.toper .mesg em{position: absolute;top:10px;color:#fff;font-size:12px;background:#e50011;border-radius: 50%;left:50px;width:25px;height:25px;text-align:center;line-height:25px;;}
.bg-eee{background:#eee;}
.centerhd img.logo{margin:10px;}

.centerhd{background:#00B2C8;height:50px;line-height: 50px;padding:0 15px}
.centerhd a{color:#fff}
.centerhd .rnv i{font-size:22px;}
.centerhd .rnv a{margin-left:10px;}
.centerhd .onv{margin:0 10px;}
.centerhd .cnv a,.centerhd .onv a,.centerhd .rnv .t{padding:0 20px;display: inline-block;height:50px;}
.centerhd .cnv a:hover,.centerhd .onv a:hover,.centerhd .rnv .t:hover{background:#03A3C1;color:#fff}
.centerhd .ath{width:26px;height:26px;border-radius: 50%;margin:0 20px;;}
.centerhd .atha:hover{ background:#03A3C1;display: inline-block;}
.centerhd .rnv .lay{background:#fff;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px; overflow: hidden;display:none; borde:1px solid #ddd;box-shadow: 0px 1px 3px #ddd;top:52px;right:0px;position: absolute;width:100px}
.centerhd .rnv .lay a{color:#777;display: block;line-height: 26px;height:inherit;padding:5px 15px;margin-left:0px; }
.centerhd .rnv .lay a:hover{background:#18c0d6;color:#fff;}

.centerhd .onv .lay{min-width: 150px; z-index:333;border:1px solid #ddd;box-shadow: 0px 1px 3px #ddd;top:55px;background:#fff;display:none;border:1px solid #eee;border-bottom:0px;right:0px;position: absolute;width:100px}
.centerhd .onv .lay a{ color:#777;display: block;height:inherit;line-height: 26px;padding:5px 20px;}
.centerhd .onv .lay a:hover{background:#18c0d6;color:#fff;}

.centerhd .hdform{height:30px;padding-top:12px;padding-left:20px;height:50px;width:220px;float:left; position:relative}
.centerhd .hdform input{line-height:20px;float:left;padding:2px 5px;font-size:14px;color:#888;width:100%;border-radius:3px;border:0px;}
.centerhd .hdform i{right:5px; position: absolute;color:#999;top:16px;cursor: pointer}

.thirdpartyhd .centerhd{display: block;background:none;}
.thirdpartyhd .centerhd .rnv a:hover{background:none !important;}

.mt20{margin-top:20px;}
.s-w{box-shadow: 0px 3px 3px #ddd}
.toper .upbx{position: relative; color:#fff;width:170px;line-height:auto;padding:0 10px 0;height:70px;}
.toper .upbx:hover{}

.toper .upbx a{margin:0;padding:0;}
.toper .upbx a:hover{border-bottom:0px;}
.upbx img{margin:20px 5px 0 0;width:30px;height:30px;border-radius: 50%;float:right}
.upbx .ov{top:50px; border:1px solid #ddd;box-shadow: 0px 3px 3px #ddd;display: none;width:100%; overflow:hidden; line-height:38px;position: absolute;background: #fff;border-radius: 6px;}
.upbx .ov a{color:#666;display:block;font-size:14px;padding:0 20px;line-height:38px;height:38px;}
.upbx .ov a:hover{background: #18c1d6;color:#Fff;}



.Validform_checktip{margin-left:0px;line-height:20px;height:20px;overflow:hidden;color:#999;font-size:12px;}
.Validform_right{color:#71b83d;}
.Validform_wrong{color:red;padding-top:2px;white-space:nowrap;}
.Validform_loading{padding-top:2px;background:url(../images/onLoad.gif) no-repeat left center;}
.Validform_error{background-color:#ffe7e7;}

.acopying{  font-size:12px;position:fixed;top:85px;right:20px;color:#999;padding:5px 5px 0}
#responseHeader{word-wrap:break-word;font-size: 13px;font-family: Menlo,Monaco,Consolas,"Courier New",monospace;font-weight: bold}

.admore{text-align: center;padding-bottom:20px;}
.admore a{color:#999}

.tops {text-align: right;font-size:12px;background:#03a3c1;color:#fff;z-index:1;}
.tops a{color:#f5f5f5;display:inline-block;padding:8px 10px}
.tops a:hover{background: #00B2C8;}


.bgf{background: #fff;}
.help-box{border-bottom:1px solid #eee;background:#fff;width:1000px;margin:40px auto;}
.help-box .h-side{padding:0px 0 20px;width:200px;border-right:1px solid #ddd;float:left;min-height: 800px;}
.help-box .h-side dl dt{padding:10px 0px;font-weight: normal;font-size: 16px;}
.help-box .h-side dl dd{border-left:1px solid #ddd}
.help-box .h-side dl dd a{display: block;padding:6px 20px;color:#888;text-decoration: none; border-left:2px solid #fff;}
.help-box .h-side dl dd a:hover,.help-box .h-side dl dd a.active{border-left:2px solid #00b2c8; color:#00b2c8}
.help-box .r-box{margin-left:230px;}
.help-box .r-box .tit{border-bottom:1px solid #ddd;padding:0px 0px 12px;}
.help-box .r-box .view{padding:20px 0}
.help-box .r-box .view span{background: #f5f5f5;display: inline-block;width:100%;height:100px;padding:20px;}

.serch_bd .stop {width:400px;margin:70px auto 50px;}
.serch_bd .stop h3{text-align: center;padding-bottom:20px;font-weight: normal;color:#00b2c8;}
.serch_bd .stop .sch{}
.serch_bd .texbox{width:1000px;margin:10px auto;}
.serch_bd .texbox h4{border-bottom:1px solid #ddd;line-height: 45px;font-size:24px;font-weight:normal}
.serch_bd .texbox dl{width:33%;float:left;height:211px;}
.serch_bd .texbox dl dt{margin-bottom:15px;height:60px;line-height: 60px;position: relative}
.serch_bd .texbox dl dt:after{content: " ";position: absolute;width:20px;height:3px;background:#ddd;left:0px;bottom:1px;}
.serch_bd .texbox dl  a{display: block;height:34px;line-height: 34px;color:#888;position: relative;padding-left:20px;}
.serch_bd .texbox dl  a:after{content:" ";position: absolute;top:12px;display:inline-block;width:10px;height:10px;border-radius: 50%;border:1px solid #999;left:0px;}


.serch_bd .vidbox{width:1000px;margin:70px auto;}
.serch_bd .vidbox h4{border-bottom:1px solid #ddd;line-height: 45px;font-size:24px;font-weight:normal;}
.serch_bd .vidbox .vbd {margin-left:-20px;margin-bottom:30px;}
.serch_bd .vidbox .vbd .item{width:235px;float:left;margin-left:20px;height:210px;}
.serch_bd .vidbox .vbd .item img{width:235px;height:160px;}
.serch_bd .vidbox .vbd .item span{color:#666;text-align: center;display: block;padding-top:10px;}
.serch_bd .no-find{background:#ecf1f5;text-align: center;padding:50px 0;}
.serch_bd .no-find p{font-size:26px;}




.apply{text-align:center;margin:180px auto 10px;min-height:380px;}
.apply img{width:150px;margin-bottom:30px;}
.apply .bor-info{border:2px solid #05bcd4;color:#03a4c3;padding:8px 40px;}
.apply .bor-info:hover{color:#0099CC}

.ckbox label{border:1px solid #ddd;border-radius: 5px;display: inline-block;padding:2px 10px;background:#f4f4f4;}
.ckbox label input{margin-right:5px;}
.ckbox label.on{border-color:green;background:darkseagreen;color:green;background:#Fff}

.overfeedback{position: fixed;border-radius:2px;text-align:center;line-height:30px;right:0px;bottom:50px; display: inline-block;background:#888;}
.overfeedback i{color:#fff;font-size:12px;vertical-align: middle;font-size:16px;padding:10px}


.addform .nobg .input-group-addon{background:#fff;padding-right:0;}
.addform .nobg .form-control{border-left:0px !important;}
.ac_results ul li{padding:10px;}

.spinner {
    margin: 100px auto 0;
    width: 150px;
    z-index: 22222;
    text-align: center;margin-left:-80px;
    position: fixed;left:50%;top:50px
}

.spinner > div {
    width: 15px;
    height: 15px;
    background-color: #fff;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}




/* 
 *  Owl Carousel CSS3 Transitions 
 *  v1.3.2
 */

.owl-origin {
    -webkit-perspective: 1200px;
    -webkit-perspective-origin-x : 50%;
    -webkit-perspective-origin-y : 50%;
    -moz-perspective : 1200px;
    -moz-perspective-origin-x : 50%;
    -moz-perspective-origin-y : 50%;
    perspective : 1200px;
}
/* fade */
.owl-fade-out {
    z-index: 10;
    -webkit-animation: fadeOut .7s both ease;
    -moz-animation: fadeOut .7s both ease;
    animation: fadeOut .7s both ease;
}
.owl-fade-in {
    -webkit-animation: fadeIn .7s both ease;
    -moz-animation: fadeIn .7s both ease;
    animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
    -webkit-animation: backSlideOut 1s both ease;
    -moz-animation: backSlideOut 1s both ease;
    animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
    -webkit-animation: backSlideIn 1s both ease;
    -moz-animation: backSlideIn 1s both ease;
    animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
    -webkit-animation: scaleToFade .7s ease both;
    -moz-animation: scaleToFade .7s ease both;
    animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
    -webkit-animation: goDown .6s ease both;
    -moz-animation: goDown .6s ease both;
    animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
    -webkit-animation: scaleUpFrom .5s ease both;
    -moz-animation: scaleUpFrom .5s ease both;
    animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
    -webkit-animation: scaleUpTo .5s ease both;
    -moz-animation: scaleUpTo .5s ease both;
    animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
    0% {opacity: 1}
}
@-moz-keyframes empty {
    0% {opacity: 1}
}
@keyframes empty {
    0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
    0% { opacity:1; }
    100% { opacity:0; }
}
@-moz-keyframes fadeOut {
    0% { opacity:1; }
    100% { opacity:0; }
}
@keyframes fadeOut {
    0% { opacity:1; }
    100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
    25% { opacity: .5; -webkit-transform: translateZ(-500px); }
    75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
    100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
    25% { opacity: .5; -moz-transform: translateZ(-500px); }
    75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
    100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
    25% { opacity: .5; transform: translateZ(-500px); }
    75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
    100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
    0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
    75% { opacity: .5; -webkit-transform: translateZ(-500px); }
    100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
    0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
    75% { opacity: .5; -moz-transform: translateZ(-500px); }
    100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
    0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
    75% { opacity: .5; transform: translateZ(-500px); }
    100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
    to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
    to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
    to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
    from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
    from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
    from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
    from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
    from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
    from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
    to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
    to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
    to { opacity: 0; transform: scale(1.5); }
}

.pointer{ cursor:pointer}

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}


/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
    margin-top: -30px;
    text-align: center;
    z-index:2333;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    background:#fff;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}


body .layui-layer-btn .layui-layer-btn0{background:#00B2C8;color:#fff;border:1px solid #00B2C8}
body  .layui-layer-btn .layui-layer-btn1{ }


.systbg{width:100%;height:400px;background:url(../images/system/table.png) repeat }
.systbg .sysinfo{margin:0 auto; height:400px;width:1120px;background-image:url(../images/system/line_bg.png); background-repeat:no-repeat;background-position:bottom; text-align:center;color:#fff;}
.systbg .sysinfo h3{padding-top:110px;font-size:46px;}
.systbg .sysinfo p{padding:20px;font-size:16px;}
.systbg .sysinfo .adds{background:#fff; display:inline-block;color:#777;margin:10px auto;padding:10px 20px;}
.systbg .sysinfo .more a{color:#fff;margin:0 10px;text-decoration: underline}
.syscn{ text-align:center;padding-top:50px;margin-bottom:80px;}
.syscn .sys_cn_hd h3{padding:20px}
.syscn .sys_cn_hd p{color:#999}
.syscn .sys_cn_hd img{margin-top:20px;width:700px;}
.syscn_a{background:#f0f0f0}
.syscn_b{background:#fff}

.nobox{padding:100px 0; text-align: center;color:#999}
.nobox i{font-size:60px;margin-bottom:10px;color:#ddd}


.rechargeok{padding:100px 0; text-align: center;color:#999}
.rechargeok i{font-size:60px;margin-bottom:10px;color:#00AA00}

.price_title{
    margin-top: 100px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
}
.price_table{
    /*color: #000;*/
    background-color: #F9F9F9
}

.control-group{
    background-color: #fff;
    padding: 20px;
}
